body {
  background: green;
  background: linear-gradient(#299a0b 0%, #299a0b 100%);
  font-family: sans-serif; }

#hud {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #dedede;
  padding: 1vh 10vw;
  z-index: 2;
  border-radius: 0 0 10px 0; }
  #hud span {
    border-left: 1px solid #dedede;
    padding-left: 2vw;
    margin-left: 2vw; }
  #hud span:empty {
    display: none; }

#playfield {
  box-sizing: border-box;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-perspective: 1200px;
          perspective: 1200px;
  padding-top: 3vh; }
  #playfield *, #playfield *:before, #playfield *:after {
    box-sizing: inherit; }
  #playfield .card {
    display: inline-block;
    width: 12%;
    height: 18vw;
    text-align: center;
    position: relative;
    margin: 2vh 2vw;
    -webkit-filter: drop-shadow(0px 5px 6px #010101);
            filter: drop-shadow(0px 5px 6px #010101); }
    #playfield .card .face, #playfield .card .back {
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      transition: box-shadow 300ms ease, -webkit-transform 700ms ease;
      transition: transform 700ms ease, box-shadow 300ms ease;
      transition: transform 700ms ease, box-shadow 300ms ease, -webkit-transform 700ms ease;
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
      border-radius: 1vw; }
    #playfield .card .face {
      border: 1px solid green;
      font-style: normal;
      font-size: 8vw;
      padding-top: 33%;
      background: #eeeeee; }
    #playfield .card .back {
      background: orange;
      border: 1vw solid #eeeeee;
      background-origin: content-box;
      padding: 20px;
      background: #36c;
      background: linear-gradient(115deg, transparent 75%, rgba(255, 255, 255, 0.8) 75%) 0 0, linear-gradient(245deg, transparent 75%, rgba(255, 255, 255, 0.8) 75%) 0 0, linear-gradient(115deg, transparent 75%, rgba(255, 255, 255, 0.8) 75%) 7px -15px, linear-gradient(245deg, transparent 75%, rgba(255, 255, 255, 0.8) 75%) 7px -15px, #36c;
      background-size: 15px 30px; }
    #playfield .card.hidden .face {
      -webkit-transform: rotateY(180deg) scale(1.5);
              transform: rotateY(180deg) scale(1.5); }
    #playfield .card.shown .face {
      -webkit-transform: rotateY(0deg) scale(1);
              transform: rotateY(0deg) scale(1); }
    #playfield .card.shown .back {
      -webkit-transform: rotateY(-180deg) scale(1.5);
              transform: rotateY(-180deg) scale(1.5); }
    #playfield .card:hover.hidden .back {
      box-shadow: 0 0 30px blue;
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
